.catalog__content-card {
    box-sizing: border-box;
    border: 1px solid #d0d0d0;
    background: #fff;
    width: 24%;
    padding: 20px 5px 15px;
    position: relative;
    margin: 0 auto 10px;
    text-align: center;
    font-family: Georgia, sans-serif;
}

.catalog__content-card img {
    width: 80%;
    display: block;
    margin: 0 auto;
}

.catalog__content-card hr {
    width: 90%;
    height: 1px;
    border: none;
    background: #d0d0d0;
    margin: 15px auto;
}

.catalog__content-card h6 {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.catalog__content-card h5 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px auto;
}

.catalog__content-card p {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    background: #ff0000;
    border-radius: 2px;
    width: 102px;
    padding: 1px 0;
    margin: 0 auto;
}

.catalog__content-card .price {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto 0;
}

.catalog__content-card .price span.old-price {
    font-size: 16px;
    font-style: italic;
    color: #484848;
    display: block;
    margin-right: 5px;
    text-decoration: line-through;
}

.catalog__content-card .price span.new-price {
    font-size: 20px;
    font-weight: bold;
    color: #ff0000;
}

.catalog__content-card a {
    font-family: Georgia, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    box-sizing: border-box;
    width: 80%;
    padding: 10px 0;
    border: 1px solid #fff;
    background-color: rgba(19, 19, 19, 0.412);
    position: absolute;
    bottom: 71px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    z-index: 11;
    transition: all 0.5s ease;
}

.catalog__content-card button {
    font-family: Georgia, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    box-sizing: border-box;
    width: 80%;
    padding: 10px 0;
    border: 1px solid #fff;
    background-color: rgba(19, 19, 19, 0.412);
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    z-index: 11;
    transition: all 0.5s ease;
}

.catalog__content-card:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s ease;
}

.catalog__content-card:hover:after {
    background: rgba(0, 0, 0, 0.9);
}

.catalog__content-card:hover a {
    opacity: 1;
}

.catalog__content-card:hover button {
    opacity: 1;
}